VITE_SUPABASE_URL=https://xjuxlsdlgesmrrrfsdmf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhqdXhsc2RsZ2VzbXJycmZzZG1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMTYyODYsImV4cCI6MjA5ODc5MjI4Nn0.S6JiCwo984mwHx8DUVfH5muBmhSgOwtoGPyhXZdR5ys
VITE_GEMINI_API_KEY=your_google_gemini_api_key
