VITE_SUPABASE_URL=https://mxafqffullvrgqpfexrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14YWZxZmZ1bGx2cmdxcGZleHJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwNjk0MjIsImV4cCI6MjA5ODY0NTQyMn0.47FcaQCJ77TVEoa2t7qC0-6SJpoQ2Au4FYcRgkTvUQg
VITE_GEMINI_API_KEY=your_google_gemini_api_key
